/* Variables
-------------------------------------------------------------------------------------------------- */

:root {
  --colour-dark: black;
}


/* General
-------------------------------------------------------------------------------------------------- */

a {
    color: var(--colour-dark);
    text-decoration: none;
    -webkit-transition: all .18s ease-in-out;
       -moz-transition: all .18s ease-in-out;
            transition: all .18s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Relative Book', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f8f8f8;
    font-weight: 300;
}

.wrapper {
    width: 1200px;
    padding: 0 20px;
    margin: auto;
}

p {
    font-size: 20px
}


h1 {
    font-weight: 300;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/* Navigation
-------------------------------------------------------------------------------------------------- */

header {
   width: 100%;
   z-index: 100;
   padding: 20px 0;
}

.navigation {
   float: right;
   font-size: 20px;
   list-style: none;
   padding: 0;
   margin: 0;
}
   .navigation li, .footer-link {
       display: inline-block;
       position: relative;
   }
   .navigation li {
       margin-left: 80px;
   }
   .navigation li a {
       color: rgba(0, 0, 0, 1);
   }
   .navigation li a::after, .footer-link a::after {
       content: "";
       position: absolute;
       width: 0;
       height: 1px;
       bottom: 0;
       right: 0;
       background-color: #000;
       transition: all 0.2s ease-in-out;
   }
   .navigation li a:hover::after, .footer-link a:hover::after {
       /*color: rgba(0, 0, 0, 0.5);*/
       width: 100%;
       right: auto;
       left: 0;
   }

   .navigation li:last-child {
       padding-right: 0;
   }

.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
}

.logo-link {
    font-family: 'Relative Book', sans-serif;
    display: inline-block;
    font-size: 20px;
    /*word-spacing: 4px;*/
}
